<div>Products:</div>
<table>
    <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.desc}}</td>
        <td><a [routerLink]="'/product/'+product.id">link</a></td>
    </tr>
</table>