<div *ngIf="product">
  <div>{{product.id}}</div>
  <div>{{product.name}}</div>
  <div>{{product.desc}}</div>
  <div><input type="number" (change)="updateCartItem()" [(ngModel)]="count" value="{{productCount}}"/></div>
</div>